# SKAFFOLD_DEFAULT_REPO=gcr.io/engineering-devops/konstantin
ACCESS_TOKEN_URL="https://default.iam.example.com/am/oauth2/realms/root/access_token"

# The OAuth Client used here will need Resource Owner Password Credentials added to its Grant Types.
CLIENT_ID=idm-provisioning
CLIENT_SECRET=idm-provisioning-client_secret
USER_USERNAME=amadmin
USER_PASSWORD="6HU1Y74ocs5ciAss5FUxlcdt"

AUTHORIZATION_HEADER_VALUE="Bearer "$( \
    echo $( \
        curl -s --location --request POST "$ACCESS_TOKEN_URL" \
        --header "Authorization: Basic $(printf  "$CLIENT_ID:$CLIENT_SECRET" | base64)" \
        --header "Content-Type: application/x-www-form-urlencoded" \
        --data-urlencode "grant_type=password" \
        --data-urlencode "scope=fr:idm:*" \
        --data-urlencode "username=${USER_USERNAME}" \
        --data-urlencode "password=${USER_PASSWORD}" \
    ) | sed -e 's/^.*"access_token":"\([^"]*\)".*$/\1/' \
)
